.row {
    margin: 10px -16px;
}

.row,
.row>.column {
    padding: 8px;
}

.column {
    float: left;
    max-width: 33.33%;
    display: none;
    /* Hide all elements by default */
}

@media screen and (max-width: 800px) {
    .column {
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        max-width: 100%;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    padding: 10px;
}

.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 0px!important;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.btn-md {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    border-radius: 0px !important;
    margin-top: 5px;
}

.modal-content {
    color: #212529;
    padding: 5px;
}

.modal-content>p {
    padding: 10px;
}

.modal-content>a {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    color: #212529;
}

.modal-header>h5 {
    text-align: center !important;
    display: inline-block !important;
    width: 100%;
}