.card{
  display: inline-block !important;
  margin: 5px 5px;
  width: 200px !important;
  height: 280px;
  border-color: var(--t1c4) !important;
  border-width: 2px !important;
  background-color: var(--t3c5) !important;
}

.card > .card-img-top{
  height: 100px !important;
}

.card-body > h1{
  height: 75px !important;
  border-color: var(--t1c4) !important;
  border-width: 2px !important;
}

.card-body > button{
  height: 35px;
}

.card-link{
  font-size: 50%;
}

.text-right > button{
  border-color: var(--t1c5) !important;
  background-color: var(--t2c5) !important;
  color: var(--t2c2) !important;
}

.modal-content{
  border-color: var(--t1c5) !important;
  border-width: 2px !important;
  background-color: var(--t3c2) !important;
}
