.lin-cont{
  width: 75vw;
}

h2> img{
  border-radius: 50%;
}

/* .circle{
  display: inline-block;
} */

/* @media (min-width: 567px){
  .lin-cont{
    display: none;
  }
}

@media (max-width: 567px){
  .circ-cont{
    display: none;
  }
} */
